.f0 {
  font-size: 0px; }

.f1 {
  font-size: 1px; }

.f2 {
  font-size: 2px; }

.f3 {
  font-size: 3px; }

.f4 {
  font-size: 4px; }

.f5 {
  font-size: 5px; }

.f6 {
  font-size: 6px; }

.f7 {
  font-size: 7px; }

.f8 {
  font-size: 8px; }

.f9 {
  font-size: 9px; }

.f10 {
  font-size: 10px; }

.f11 {
  font-size: 11px; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.f17 {
  font-size: 17px; }

.f18 {
  font-size: 18px; }

.f19 {
  font-size: 19px; }

.f20 {
  font-size: 20px; }

.f21 {
  font-size: 21px; }

.f22 {
  font-size: 22px; }

.f23 {
  font-size: 23px; }

.f24 {
  font-size: 24px; }

.f25 {
  font-size: 25px; }

.f26 {
  font-size: 26px; }

.f27 {
  font-size: 27px; }

.f28 {
  font-size: 28px; }

.f29 {
  font-size: 29px; }

.f30 {
  font-size: 30px; }

.f31 {
  font-size: 31px; }

.f32 {
  font-size: 32px; }

.f33 {
  font-size: 33px; }

.f34 {
  font-size: 34px; }

.f35 {
  font-size: 35px; }

.f36 {
  font-size: 36px; }

.f37 {
  font-size: 37px; }

.f38 {
  font-size: 38px; }

.f39 {
  font-size: 39px; }

.f40 {
  font-size: 40px; }

.f41 {
  font-size: 41px; }

.f42 {
  font-size: 42px; }

.f43 {
  font-size: 43px; }

.f44 {
  font-size: 44px; }

.f45 {
  font-size: 45px; }

.f46 {
  font-size: 46px; }

.f47 {
  font-size: 47px; }

.f48 {
  font-size: 48px; }

.f49 {
  font-size: 49px; }

.f50 {
  font-size: 50px; }

.f51 {
  font-size: 51px; }

.f52 {
  font-size: 52px; }

.f53 {
  font-size: 53px; }

.f54 {
  font-size: 54px; }

.f55 {
  font-size: 55px; }

.f56 {
  font-size: 56px; }

.f57 {
  font-size: 57px; }

.f58 {
  font-size: 58px; }

.f59 {
  font-size: 59px; }

.f60 {
  font-size: 60px; }

.f61 {
  font-size: 61px; }

.f62 {
  font-size: 62px; }

.f63 {
  font-size: 63px; }

.f64 {
  font-size: 64px; }

.f65 {
  font-size: 65px; }

.f66 {
  font-size: 66px; }

.f67 {
  font-size: 67px; }

.f68 {
  font-size: 68px; }

.f69 {
  font-size: 69px; }

.f70 {
  font-size: 70px; }

.f71 {
  font-size: 71px; }

.f72 {
  font-size: 72px; }

.f73 {
  font-size: 73px; }

.f74 {
  font-size: 74px; }

.f75 {
  font-size: 75px; }

.f76 {
  font-size: 76px; }

.f77 {
  font-size: 77px; }

.f78 {
  font-size: 78px; }

.f79 {
  font-size: 79px; }

.f80 {
  font-size: 80px; }

.f81 {
  font-size: 81px; }

.f82 {
  font-size: 82px; }

.f83 {
  font-size: 83px; }

.f84 {
  font-size: 84px; }

.f85 {
  font-size: 85px; }

.f86 {
  font-size: 86px; }

.f87 {
  font-size: 87px; }

.f88 {
  font-size: 88px; }

.f89 {
  font-size: 89px; }

.f90 {
  font-size: 90px; }

.f91 {
  font-size: 91px; }

.f92 {
  font-size: 92px; }

.f93 {
  font-size: 93px; }

.f94 {
  font-size: 94px; }

.f95 {
  font-size: 95px; }

.f96 {
  font-size: 96px; }

.f97 {
  font-size: 97px; }

.f98 {
  font-size: 98px; }

.f99 {
  font-size: 99px; }

.w0 {
  width: 0%; }

.w1 {
  width: 1%; }

.w2 {
  width: 2%; }

.w3 {
  width: 3%; }

.w4 {
  width: 4%; }

.w5 {
  width: 5%; }

.w6 {
  width: 6%; }

.w7 {
  width: 7%; }

.w8 {
  width: 8%; }

.w9 {
  width: 9%; }

.w10 {
  width: 10%; }

.w11 {
  width: 11%; }

.w12 {
  width: 12%; }

.w13 {
  width: 13%; }

.w14 {
  width: 14%; }

.w15 {
  width: 15%; }

.w16 {
  width: 16%; }

.w17 {
  width: 17%; }

.w18 {
  width: 18%; }

.w19 {
  width: 19%; }

.w20 {
  width: 20%; }

.w21 {
  width: 21%; }

.w22 {
  width: 22%; }

.w23 {
  width: 23%; }

.w24 {
  width: 24%; }

.w25 {
  width: 25%; }

.w26 {
  width: 26%; }

.w27 {
  width: 27%; }

.w28 {
  width: 28%; }

.w29 {
  width: 29%; }

.w30 {
  width: 30%; }

.w31 {
  width: 31%; }

.w32 {
  width: 32%; }

.w33 {
  width: 33%; }

.w34 {
  width: 34%; }

.w35 {
  width: 35%; }

.w36 {
  width: 36%; }

.w37 {
  width: 37%; }

.w38 {
  width: 38%; }

.w39 {
  width: 39%; }

.w40 {
  width: 40%; }

.w41 {
  width: 41%; }

.w42 {
  width: 42%; }

.w43 {
  width: 43%; }

.w44 {
  width: 44%; }

.w45 {
  width: 45%; }

.w46 {
  width: 46%; }

.w47 {
  width: 47%; }

.w48 {
  width: 48%; }

.w49 {
  width: 49%; }

.w50 {
  width: 50%; }

.w51 {
  width: 51%; }

.w52 {
  width: 52%; }

.w53 {
  width: 53%; }

.w54 {
  width: 54%; }

.w55 {
  width: 55%; }

.w56 {
  width: 56%; }

.w57 {
  width: 57%; }

.w58 {
  width: 58%; }

.w59 {
  width: 59%; }

.w60 {
  width: 60%; }

.w61 {
  width: 61%; }

.w62 {
  width: 62%; }

.w63 {
  width: 63%; }

.w64 {
  width: 64%; }

.w65 {
  width: 65%; }

.w66 {
  width: 66%; }

.w67 {
  width: 67%; }

.w68 {
  width: 68%; }

.w69 {
  width: 69%; }

.w70 {
  width: 70%; }

.w71 {
  width: 71%; }

.w72 {
  width: 72%; }

.w73 {
  width: 73%; }

.w74 {
  width: 74%; }

.w75 {
  width: 75%; }

.w76 {
  width: 76%; }

.w77 {
  width: 77%; }

.w78 {
  width: 78%; }

.w79 {
  width: 79%; }

.w80 {
  width: 80%; }

.w81 {
  width: 81%; }

.w82 {
  width: 82%; }

.w83 {
  width: 83%; }

.w84 {
  width: 84%; }

.w85 {
  width: 85%; }

.w86 {
  width: 86%; }

.w87 {
  width: 87%; }

.w88 {
  width: 88%; }

.w89 {
  width: 89%; }

.w90 {
  width: 90%; }

.w91 {
  width: 91%; }

.w92 {
  width: 92%; }

.w93 {
  width: 93%; }

.w94 {
  width: 94%; }

.w95 {
  width: 95%; }

.w96 {
  width: 96%; }

.w97 {
  width: 97%; }

.w98 {
  width: 98%; }

.w99 {
  width: 99%; }

.h0 {
  height: 0px !important; }

.h1 {
  height: 1px !important; }

.h2 {
  height: 2px !important; }

.h3 {
  height: 3px !important; }

.h4 {
  height: 4px !important; }

.h5 {
  height: 5px !important; }

.h6 {
  height: 6px !important; }

.h7 {
  height: 7px !important; }

.h8 {
  height: 8px !important; }

.h9 {
  height: 9px !important; }

.h10 {
  height: 10px !important; }

.h11 {
  height: 11px !important; }

.h12 {
  height: 12px !important; }

.h13 {
  height: 13px !important; }

.h14 {
  height: 14px !important; }

.h15 {
  height: 15px !important; }

.h16 {
  height: 16px !important; }

.h17 {
  height: 17px !important; }

.h18 {
  height: 18px !important; }

.h19 {
  height: 19px !important; }

.h20 {
  height: 20px !important; }

.h21 {
  height: 21px !important; }

.h22 {
  height: 22px !important; }

.h23 {
  height: 23px !important; }

.h24 {
  height: 24px !important; }

.h25 {
  height: 25px !important; }

.h26 {
  height: 26px !important; }

.h27 {
  height: 27px !important; }

.h28 {
  height: 28px !important; }

.h29 {
  height: 29px !important; }

.h30 {
  height: 30px !important; }

.h31 {
  height: 31px !important; }

.h32 {
  height: 32px !important; }

.h33 {
  height: 33px !important; }

.h34 {
  height: 34px !important; }

.h35 {
  height: 35px !important; }

.h36 {
  height: 36px !important; }

.h37 {
  height: 37px !important; }

.h38 {
  height: 38px !important; }

.h39 {
  height: 39px !important; }

.h40 {
  height: 40px !important; }

.h41 {
  height: 41px !important; }

.h42 {
  height: 42px !important; }

.h43 {
  height: 43px !important; }

.h44 {
  height: 44px !important; }

.h45 {
  height: 45px !important; }

.h46 {
  height: 46px !important; }

.h47 {
  height: 47px !important; }

.h48 {
  height: 48px !important; }

.h49 {
  height: 49px !important; }

.h50 {
  height: 50px !important; }

.h51 {
  height: 51px !important; }

.h52 {
  height: 52px !important; }

.h53 {
  height: 53px !important; }

.h54 {
  height: 54px !important; }

.h55 {
  height: 55px !important; }

.h56 {
  height: 56px !important; }

.h57 {
  height: 57px !important; }

.h58 {
  height: 58px !important; }

.h59 {
  height: 59px !important; }

.h60 {
  height: 60px !important; }

.h61 {
  height: 61px !important; }

.h62 {
  height: 62px !important; }

.h63 {
  height: 63px !important; }

.h64 {
  height: 64px !important; }

.h65 {
  height: 65px !important; }

.h66 {
  height: 66px !important; }

.h67 {
  height: 67px !important; }

.h68 {
  height: 68px !important; }

.h69 {
  height: 69px !important; }

.h70 {
  height: 70px !important; }

.h71 {
  height: 71px !important; }

.h72 {
  height: 72px !important; }

.h73 {
  height: 73px !important; }

.h74 {
  height: 74px !important; }

.h75 {
  height: 75px !important; }

.h76 {
  height: 76px !important; }

.h77 {
  height: 77px !important; }

.h78 {
  height: 78px !important; }

.h79 {
  height: 79px !important; }

.h80 {
  height: 80px !important; }

.h81 {
  height: 81px !important; }

.h82 {
  height: 82px !important; }

.h83 {
  height: 83px !important; }

.h84 {
  height: 84px !important; }

.h85 {
  height: 85px !important; }

.h86 {
  height: 86px !important; }

.h87 {
  height: 87px !important; }

.h88 {
  height: 88px !important; }

.h89 {
  height: 89px !important; }

.h90 {
  height: 90px !important; }

.h91 {
  height: 91px !important; }

.h92 {
  height: 92px !important; }

.h93 {
  height: 93px !important; }

.h94 {
  height: 94px !important; }

.h95 {
  height: 95px !important; }

.h96 {
  height: 96px !important; }

.h97 {
  height: 97px !important; }

.h98 {
  height: 98px !important; }

.h99 {
  height: 99px !important; }

.vam {
  vertical-align: middle; }

@media (min-width: 1700px) {
  .bb_width {
    max-width: 1700px !important; } }

@media (min-width: 1400px) and (max-width: 1699.99px) {
  .bb_width {
    max-width: 1500px !important; } }

@media (min-width: 1700px) {
  .bb_width-md {
    max-width: 1400px !important; } }

@media (min-width: 1400px) and (max-width: 1699.99px) {
  .bb_width-md {
    max-width: 1200px !important; } }

.text-color-primary {
  color: #58595B; }

.text-color-dark {
  color: #231F20; }

.text-color-orange {
  color: #F67E51; }

.text-color-purple {
  color: #A02C72; }

.font-title {
  font-family: 'Multicolore'; }

.font-primary {
  font-family: 'Gotham-Medium'; }
  .font-primary-bold {
    font-family: 'Gotham-Bold'; }
  .font-primary-book {
    font-family: 'Gotham-Book'; }

.font-secondary {
  font-family: 'VarelaRound-Regular'; }
  .font-secondary-bold {
    font-weight: 800; }

@media (min-width: 1700px) {
  .font-size-xxxxl {
    font-size: 80px;
    line-height: 90px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-xxxxl {
    font-size: 60px;
    line-height: 70px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-xxxxl {
    font-size: 40px;
    line-height: 50px; } }

@media (max-width: 991.9px) {
  .font-size-xxxxl {
    font-size: 30px;
    line-height: 40px; } }

@media (min-width: 1700px) {
  .font-size-xxxl {
    font-size: 70px;
    line-height: 80px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-xxxl {
    font-size: 62px;
    line-height: 72px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-xxxl {
    font-size: 55px;
    line-height: 65px; } }

@media (max-width: 991.9px) {
  .font-size-xxxl {
    font-size: 48px;
    line-height: 58px; } }

@media (min-width: 1700px) {
  .font-size-xxl {
    font-size: 66px;
    line-height: 76px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-xxl {
    font-size: 58px;
    line-height: 68px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-xxl {
    font-size: 52px;
    line-height: 62px; } }

@media (max-width: 991.9px) {
  .font-size-xxl {
    font-size: 42px;
    line-height: 52px; } }

@media (min-width: 1700px) {
  .font-size-xl {
    font-size: 53px;
    line-height: 63px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-xl {
    font-size: 40px;
    line-height: 55px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-xl {
    font-size: 40px;
    line-height: 50px; } }

@media (max-width: 991.9px) {
  .font-size-xl {
    font-size: 32px;
    line-height: 42px; } }

@media (min-width: 1700px) {
  .font-size-lg {
    font-size: 31px;
    line-height: 41px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-lg {
    font-size: 29px;
    line-height: 39px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-lg {
    font-size: 26px;
    line-height: 36px; } }

@media (max-width: 991.9px) {
  .font-size-lg {
    font-size: 24px;
    line-height: 34px; } }

@media (min-width: 1700px) {
  .font-size-md {
    font-size: 28px;
    line-height: 38px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-md {
    font-size: 24px;
    line-height: 36px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-md {
    font-size: 20px;
    line-height: 32px; } }

@media (max-width: 991.9px) {
  .font-size-md {
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 1700px) {
  .font-size-sm {
    font-size: 21px;
    line-height: 31px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-sm {
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-sm {
    font-size: 16px;
    line-height: 28px; } }

@media (max-width: 991.9px) {
  .font-size-sm {
    font-size: 14px;
    line-height: 26px; } }

@media (min-width: 1700px) {
  .font-size-xs {
    font-size: 18px;
    line-height: 28px; } }

@media (min-width: 1300px) and (max-width: 1699.99px) {
  .font-size-xs {
    font-size: 16px;
    line-height: 26px; } }

@media (min-width: 992px) and (max-width: 1299.99px) {
  .font-size-xs {
    font-size: 14px;
    line-height: 24px; } }

@media (max-width: 991.9px) {
  .font-size-xs {
    font-size: 12px;
    line-height: 22px; } }

.bg-orange {
  background-color: #F67E51; }

.bg-purple {
  background-color: #A02C72; }

.btn-bb {
  color: #fff; }

.btn-orange {
  background-color: #F67E51; }

.btn-purple {
  background-color: #A02C72; }

.btn-rounded {
  border-radius: 30px;
  padding: 10px 30px;
  font-family: 'Gotham-Medium'; }
  .btn-rounded:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    text-decoration: none; }

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

@media (min-width: 576px) {
  .w-sm-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 768px) {
  .w-md-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 992px) {
  .w-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 1200px) {
  .w-xl-20 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important; } }

.fullvh {
  height: 100vh !important; }

#content-container #content {
  background: #4781D9; }

#open-icon, #open-label {
  color: #ffffff; }

.icon-minimize, .icon-close, #open-icon {
  color: #F00; }

#operators .icon-thumbs-up, #operators .icon-thumbs-down, #operators #email_transcript .icon-email, #send-file-clip .icon-clip {
  color: #0081FF; }

.bb_page {
  min-height: 1000px; }
  .bb_page_title {
    position: relative;
    height: 207px;
    top: 75px;
    display: table;
    width: 100%; }
    .bb_page_title_text {
      vertical-align: middle;
      display: table-cell;
      z-index: 999;
      color: #FFF462; }
    .bb_page_title:before {
      background-image: url("../images/sub_bg.png");
      content: '';
      clear: both;
      width: 100%;
      max-height: 207px;
      height: 100%;
      position: absolute;
      display: block;
      background-position: right;
      z-index: -1; }
  .bb_page_content {
    padding-top: 70px;
    font-family: 'Gotham-Book'; }

ol.main {
  list-style-type: lower-alpha; }
  ol.main li {
    list-style-type: lower-alpha; }
    ol.main li ol.sub {
      list-style-type: lower-roman; }
      ol.main li ol.sub li {
        list-style-type: lower-roman; }

ol.num {
  list-style: decimal !important; }
  ol.num li {
    list-style: decimal !important; }

ul.num {
  list-style: decimal !important; }
  ul.num li {
    list-style: decimal !important; }

li.num {
  list-style: decimal !important; }

ul.disc {
  list-style: disc;
  padding-left: 30px; }
  ul.disc li {
    list-style: disc; }

li.disc {
  list-style: disc; }

.body_bg {
  background-color: #F7FBFF !important; }
