#order-upload {
    position: absolute;
    left: -9999px;
}

label[for="order-upload"]{
    padding:0.5em;  
    display:inline-block;
    cursor:pointer;
    // width: 100%;
    max-width: 120px;
    text-align: center;
    background: #7B7B7B;
    border: 1px solid #979797;
    border-radius: 5px;
    color: #fff;
    vertical-align: middle;
    line-height: 0;
    margin-right: 20px;
    &:hover{background:darken(#7B7B7B ,17%)}
}
#filename{
    padding:0.5em;
    float:none;
    // width:100%;
    max-width: 305px;
    white-space: nowrap;
    overflow:hidden;
    background:#fff;
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 5px;
}